.idea/
.DS_Store
*.iml
selene.egg-info/
dist/
*.pyc
*.pyo
*.swp
*.class
*.orig
tests/reports
reports/
tests/comparison/
.cache
build
.coverage
geckodriver.log
skip-covered/
.python-version
tests/adhoc/test_anything.py
