[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
future = "*"
webdriver-manager = "*"
six = "*"
"backports.functools_lru_cache" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
