[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "==2.53.1"
future = "*"
webdriver-manager = "*"
six = "*"
"backports.functools-lru-cache" = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov = "*"
