name: linters

on: [push, pull_request]

jobs:

  Black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: |
          pip install black
          .run/lint_black.sh

  Pycodestyle:
    name: Lint Pycodestyle
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Pycodestyle
        run: |
          pip install pycodestyle
          .run/lint_pycodestyle.sh

  Pylint:
    name: Lint Pylint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Pylint
        run: |
          pip install pylint
          .run/lint_pylint.sh

  Pylint-full-report:
    name: Lint Pylint Full Report
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Pylint Full Report
        run: |
          pip install pylint
          touch __init__.py
          pylint $(pwd) --rcfile=.pylintrc --disable="" --ignore-patterns=.venv --exit-zero
          rm __init__.py
